.game .start-button {
    height: 70vh;
}
.game-board .container-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 30vh);
    grid-template-rows: auto;
}

.game-board .container-wrapper .container{
    width: 20vh;
    padding: 2px;
}

.game-board .container-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.game-board .container-item img{
    width: 8vh;
}

.game-board .wrapper{
    display: grid;
    grid-template-columns: repeat(8, 14vh);
    grid-template-rows: auto;
}

.game-board .wrapper img {
    width: 20vh;
    padding: 2px;
}

.game-board div{
    margin: 2vh;
}

.won {
    background: url("../../assets/you-won.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 80vh;
    width: 100vh;
}

.won h1{
    color: hsl(15, 100%, 54%);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.lost {
    background: url("../../assets/you-lost.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 80vh;
    width: 100vh;
}

.lost h1{
    color: hsl(15, 100%, 54%);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}
